<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="/_catalogs/masterpage/Display%20Templates/Search/Item_Default.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet" />
    <title></title>
    <script type="text/javascript">
        (function ($) {
            $.SP = {};
            $.SP.ajax = function (apiUrl) {
                return jQuery.ajax({
                    url: apiUrl,
                    method: "GET",
                    headers: { "accept": "application/json;odata=verbose" }
                });
            };
        }(jQuery));
    </script>
</head>
<body>
	<div id="container" style="position:relative;">
        <div class="tabbable">
            <div class="row">
                <div class="span7">
                <ul class="nav nav-tabs pull-left">
                    <li class="active"><a PercentFilter="0.01..0.99" data-bind="event: { click: ChangeFilter }" style="cursor:pointer;">In Progress</a></li>
                    <li><a PercentFilter="0" data-bind="event: { click: ChangeFilter }" style="cursor:pointer;">Not Started</a></li>
                    <li><a PercentFilter="1" data-bind="event: { click: ChangeFilter }" style="cursor:pointer;">Completed</a></li>
                </ul>
                <input class="pull-right" placeholder="Filter..." type="text" data-bind="value:Filter, valueUpdate: 'afterkeydown'" />
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Due Date</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Data">
                    <tr data-bind="visible: $index() % 10 == 0" class="info">
                        <td colspan="3" style="padding-top:3px; padding-bottom:3px;">
                            <small data-bind="text: ($index() + 1) + ' to ' + (($index() + 10) < $root.TotalRows() ? ($index() + 10) : $root.TotalRows())">page break</small>
                        </td>
                    </tr>
                    <tr>
                        <td><a data-bind="text: Title, attr: { href: OriginalPath + '&IsDlg=1' }"></a></td>
                        <td data-bind="text: $root.ParseDate(DueDate), css: { 'text-error' : $root.DateIsPassed(DueDate) }, style: { 'font-weight' : ($root.DateIsPassed(DueDate) ? 'bold' : '') }"></td>
                        <td>
                            <div class="progress" style="margin-bottom:0px;">
                                <div class="bar" data-bind="css: { 'bar-success': PercentComplete==1 }, style: { width : (PercentComplete*100) + '%' }"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>

    <script type="text/javascript">

        function ViewModel() {
            var self = this;
            self.Filter = ko.observable("");
            self.Filter.subscribe(function (newValue) {
                self.LoadPagedData(true);
            });
            self.Data = ko.observableArray();
            self.TotalRows = ko.observable();
            self.CurrentUser = ko.observable();
            self.SearchFields = ['SPSiteURL', 'SitePath', 'Path', 'Title', 'DueDate', 'DueDateOWSDATE', 'PercentComplete', 'AssignedTo', 'AssignedToOWSUSER', 'PercentCompleteOWSNMBR'];
            self.SortField = 'DueDate:descending';
            self.PercentCompleteFilter = ko.observable("0.01..0.99");

            self.CurrentRequests = 0;
            self.LoadPagedData = function (clearData) {
                if (!self.CurrentUser()) {
                    $.SP.ajax("/_api/web/currentuser/LoginName").success(function (data) {
                        self.CurrentUser(data.d.LoginName);
                        self.LoadPagedData(clearData);
                    });
                    return;
                }

                if (clearData)
                    self.Data.removeAll();

                var request = ++self.CurrentRequests;
                $.SP.ajax("/_api/search/query?querytext='" + self.Filter() + "* ContentType:Task AssignedToOWSUSER:" + encodeURIComponent(self.CurrentUser()) + " PercentComplete=" + self.PercentCompleteFilter() + "'&startrow=" + self.Data().length + "&selectproperties='" + self.SearchFields.join() + "'&sortlist='" + self.SortField + "'").success(function (data) {
                    if (request == self.CurrentRequests)
                        self.CurrentRequests = 0;
                    else
                        return;

                    if (!data || !data.d)
                        return;
                    var query = data.d.query;
                    if (!query.PrimaryQueryResult || !query.PrimaryQueryResult.RelevantResults) {
                        return;
                    }

                    self.TotalRows(query.PrimaryQueryResult.RelevantResults.TotalRows);
                    var results = query.PrimaryQueryResult.RelevantResults.Table.Rows.results;
                    if (results.length == 0)
                        return;

                    for (var x = 0; x < results.length; x++) {
                        var cells = results[x].Cells.results;
                        var resultObj = {};
                        for (var y = 0; y < cells.length; y++) {
                            resultObj[cells[y].Key] = cells[y].Value;
                        }
                        self.Data.push(resultObj);
                    }

                    console.log(self.Data());
                    var contentHeight = $("#container").height();
                    var viewHeight = $(window).height() + $(window).scrollTop();

                    if (contentHeight < viewHeight + 30)
                        self.LoadPagedData();
                });
            };

            self.ChangeFilter = function (data, event) {
                var jElem = $(event.originalEvent.srcElement);
                if (jElem.parent().hasClass("active"))
                    return;

                var filter = jElem.attr("PercentFilter");
                self.PercentCompleteFilter(filter);
                jElem.parents("ul").find("li").removeClass("active");
                jElem.parent().addClass("active");

                self.LoadPagedData(true);
            };

            self.DateIsPassed = function (date) {
                var parseDate = new Date(Date.parse(date));
                return parseDate < (new Date());
            };

            self.ParseDate = function (date) {
                var parseDate = new Date(Date.parse(date));
                return parseDate.toLocaleDateString();
            };

            $(window).scroll(function () {
                var contentHeight = $("#container").height() + $("#container").offset().top;
                var viewHeight = $(window).height() + $(window).scrollTop();

                if (contentHeight < viewHeight + 30)
                    self.LoadPagedData();
            });

            self.LoadPagedData();
        }

        $(document).ready(function () {
            ko.applyBindings(new ViewModel(), document.getElementById("container"));
        });

    </script>
</body>
</html>